apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener-deployment
  labels:
    app: url-shortener
spec:
  replicas: 2
  selector:
    matchLabels:
      app: url-shortener
  template:
    metadata:
      labels:
        app: url-shortener
    spec:
      containers:
      - name: url-shortener-deployment
        image: 744746597411.dkr.ecr.us-east-1.amazonaws.com/url-shortener:latest
        ports:
        - containerPort: 8000
